@font-face {
    font-family: 'FIFA';
    src: url('font/EASPORTS15.ttf') format('truetype');
}

@font-face {
    font-family: 'D-DIN-PRO';
    src: url('font/DIN_PRO_COND.otf') format('opentype');
}

body {
    background-color: rgb(16, 17, 22);
    color: white;
    font-family: 'FIFA', 'D-DIN-PRO';
    font: normal 15pt;
    text-align: center;

    min-width: 500px;
    max-width: 800px;
    margin: auto;
}

@media (max-width: 1368px) {
    body {
        overflow-x: hidden;
    }
}

@media (max-width: 1080px) {
    img#ifundoj {
        display: none;
    }

    img#ifundoc {
        display: none;
    }
}

@media (max-width: 540px) {
    body {
        zoom: 90%;
    }

    div#info2 {
        font-size: 15px;
    }
}

/* @media (max-width: 480px) {
    h1 {
        font-size {
            
        }
    }
} */

header {
    text-align: center;
}

div#carta {
    height: 50px;
}

div#pais {
    height: 0px;
}

div#jogador {
    height: 0px;
}

div#clube {
    height: 0px;
}

img#iraridade {
    position: relative;
    width: 250px;
    height: 350px;
}

img#ipais {
    position: relative;
    bottom: 237px;
    right: 58px;
    width: 40px;
    height: 25px;
    /* 
    bottom: 247px
    */
}

img#ifundoj {
    position: relative;
    bottom: 550px;
    left: 450px;
    width: 450px;
    opacity: 0.2;
}

img#ifundoc {
    position: relative;
    bottom: 370px;
    right: 520px;
    width: 500px;
    opacity: 0.2;
}

img#ijogador {
    position: relative;
    left: 10px;
    width: 190px;
    height: 195px;
    bottom: 315px;
    filter: grayscale(90%);
    /* 
    position: relative;
    left: 30px;
    bottom: 319px;
    width: 150px;
    height: 150px;
    */
}

img#iclube {
    position: relative;
    width: 40px;
    right: 58px;
    bottom: 207px;
    /* 
    bottom: 210px
    */
}

img#ientrosamento {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 50px;
    width: 26px;
}

div#geral {
    font-family: 'D-DIN-PRO';
    font-size: 45px;
    text-shadow: 0.1em 0.2em 0.8em white;
    position: relative;
    right: 58px;
    bottom: 320px;
    height: 0px;
    /* 
    bottom: 335px
    */
}

div#posicao {
    font-family: 'D-DIN-PRO';
    font-size: 30px;
    text-shadow: 0.1em 0.2em 0.8em white;
    position: relative;
    right: 58px;
    bottom: 275px;
    height: 0px;
    /* 
    bottom: 285px
    */
}

div#entrosamento {
    height: 0px;
}

div#nome {
    font-family: 'D-DIN-PRO';
    font-size: 30px;
    position: relative;
    bottom: 169px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-shadow: 0.0em 0.2em 0.2em white;
}

div#mudarnome {
    position: relative;
    top: 300px;
}

input#inpnome {
    text-align: left;
    margin-left: auto;
    width: 328px;
}

div#stats {
    font-family: 'D-DIN-PRO';
    font-size: 22px;
}

div#left {
    float: left;
    position: left;
}

div#right {
    float: right;
}

div#rit {
    float: left;
    position: relative;
    bottom: 190px;
    left: 202px;
    width: 30px;
}

div#srit{
    float: left;
    position: relative;
    bottom: 216px;
    left: 175px;
    width: 30px;
}

div#fin {
    float: left;
    position: relative;
    bottom: 216px;
    left: 202px;
    width: 30px;
}

div#sfin{
    float: left;
    position: relative;
    bottom: 243px;
    left: 175px;
    width: 30px;
}

div#pas {
    float: left;
    position: relative;
    bottom: 243px;
    left: 204px;
    width: 30px;
}

div#spas{
    float: left;
    position: relative;
    bottom: 270px;
    left: 175px;
    width: 30px;
}

div#con {
    float: right;
    position: relative;
    bottom: 191px;
    right: 178px;
    width: 30px;
}

div#scon {
    float: right;
    position: relative;
    bottom: 191px;
    right: 178px;
    width: 30px;
}

div#def {
    float: right;
    position: relative;
    bottom: 191px;
    right: 179px;
    width: 30px;
}

div#sdef {
    float: right;
    position: relative;
    bottom: 191px;
    right: 178px;
    width: 30px;
}

div#fis {
    float: right;
    position: relative;
    bottom: 190px;
    right: 181px;
    width: 30px;
}

div#sfis {
    float: right;
    position: relative;
    bottom: 190px;
    right: 178px;
    width: 30px;
}

/* -------------------------------------------------------- CUSTOMIZAÇÃO ------------------------------------------------------------------------------------ */

section#customizacao {
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    height: 620px;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.544);
}

div#left {
    height: 100px;
    width: 30px;
}

div#info {
    float: left;
    text-align: left;
}

div#info2 {
    position: relative;
    float: right;
    text-align: right;
    bottom: 98px;
}

select#seljogador {
    width: 148px;
}

div#dmudastats {
    font-family: 'D-DIN-PRO';
    position: relative;
    top: 435px;
}

div#bmudastats {
    display: block;
}

div#mudastats {
    display: none;
}

div#dger {
    position: relative;
    left: 72px;
    bottom: 128px;
}

div#mudastatse {
    font-family: 'FIFA';
    position: relative;
    float: left;
    left: 50px;
    top: 130px;
}

div#mudastatsd {
    font-family: 'FIFA';
    position: relative;
    float: right;
    right: 30px;
    top: 29px;
}

div#dpais {
    display: block;
    text-align: left;
}

div#dclube {
    text-align: right;
}

input#salvar {
    position: relative;
    top: 320px;
}

input#efeitoicon {
    position: relative;
    top: 575px;
    left: 13px;
}

/* -------------------------------------------------------- DESCRIÇÃO ------------------------------------------------------------------------------------ */

section#sdescricao {
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.544);
}

div#desraridade {
    font-family: 'D-DIN-PRO';
    font-size: 35px;
}

div#desentrosamento {
    font-family: 'D-DIN-PRO';
    font-size: 30px;
}

.fa-github {
    padding-right: 15px;
}

.fa-instagram {
    padding-right: 15px;
}