@font-face {
    font-family: 'FIFA';
    src: url('font/EASPORTS15.ttf') format('truetype');
}

@font-face {
    font-family: 'D-DIN-PRO';
    src: url('font/DIN_PRO_COND.otf') format('opentype');
}

body {
    background-color: rgb(192, 168, 94);
    color: white;
    font-family: 'FIFA', 'D-DIN-PRO';
    font: normal 15pt;
    text-align: center;
}

header {
    text-align: center;
}

div#carta {
    height: 50px;
}

img#raridade {
    position: relative;
    width: 250px;
    height: 350px;
}

div#pais {
    height: 0px;
}

div#jogador {
    height: 0px;
}

div#clube {
    height: 0px;
}

img#ipais {
    position: relative;
    bottom: 247px;
    right: 58px;
    width: 40px;
    height: 25px;
}

img#ijogador {
    position: relative;
    left: 30px;
    bottom: 319px;
    width: 150px;
    height: 150px;
}

img#iclube {
    position: relative;
    width: 35px;
    right: 58px;
    bottom: 210px;
}

img#ientrosamento {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 113px;
    width: 100px;
}

div#geral {
    font-family: 'D-DIN-PRO';
    font-size: 50px;
    text-shadow: 0.1em 0.2em 0.8em white;
    position: relative;
    right: 58px;
    bottom: 335px;
    height: 0px;
}

div#posicao {
    font-family: 'D-DIN-PRO';
    font-size: 30px;
    text-shadow: 0.1em 0.2em 0.8em white;
    position: relative;
    right: 58px;
    bottom: 285px;
    height: 0px;
}

div#entrosamento {
    height: 0px;
}

div#nome {
    font-family: 'D-DIN-PRO';
    font-size: 30px;
    position: relative;
    bottom: 169px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

div#mudarnome {
    position: relative;
    top: 300px;
}

input#inpnome {
    text-align: left;
    margin-left: auto;
    width: 328px;
}

div#stats {
    font-family: 'D-DIN-PRO';
    font-size: 22px;
}

div#left {
    float: left;
    position: left;
}

div#right {
    float: right;
}

div#rit {
    float: left;
    position: relative;
    bottom: 190px;
    left: 202px;
    width: 30px;
}

div#srit{
    float: left;
    position: relative;
    bottom: 216px;
    left: 175px;
    width: 30px;
}

div#fin {
    float: left;
    position: relative;
    bottom: 216px;
    left: 202px;
    width: 30px;
}

div#sfin{
    float: left;
    position: relative;
    bottom: 242px;
    left: 175px;
    width: 30px;
}

div#pas {
    float: left;
    position: relative;
    bottom: 242px;
    left: 204px;
    width: 30px;
}

div#spas{
    float: left;
    position: relative;
    bottom: 268px;
    left: 175px;
    width: 30px;
}

div#con {
    float: right;
    position: relative;
    bottom: 191px;
    right: 178px;
    width: 30px;
}

div#scon {
    float: right;
    position: relative;
    bottom: 191px;
    right: 178px;
    width: 30px;
}

div#def {
    float: right;
    position: relative;
    bottom: 191px;
    right: 179px;
    width: 30px;
}

div#sdef {
    float: right;
    position: relative;
    bottom: 191px;
    right: 178px;
    width: 30px;
}

div#fis {
    float: right;
    position: relative;
    bottom: 190px;
    right: 181px;
    width: 30px;
}

div#sfis {
    float: right;
    position: relative;
    bottom: 190px;
    right: 178px;
    width: 30px;
}

section#customizacao {
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    height: 500px;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.544);
}

div#left {
    height: 100px;
    width: 30px;
}

div#info {
    float: left;
    text-align: left;
}

div#info2 {
    float: right;
    text-align: right;
}

div#draridade {
    display: block;
    text-align: left;
}

div#dpais {
    display: block;
    text-align: left;
}

div#dclube {
    text-align: right;
}

section#sdescricao {
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.544);
}

div#divdescricao {
    font-family: 'D-DIN-PRO';
    font-size: 30px;
}

div#diventrosamento {
    font-family: 'D-DIN-PRO';
    font-size: 30px;
}

footer {
    font-family: 'Arial';
    text-align: center;
}